$primary-background-color: #222;
$secondary-background-color: #111;

$primary-font-color: #ccc;
$secondary-font-color: #fff;

$error-color: #E82C0C;
$info-color: #2E7CE5;
$success-color: #2ACF0F;
$warn-color: #FF910D;

$primary-theme-color: #c2185b;
$primary-theme-color-hover: #A3144D;
