@import "../../../ui/styles/mixins";

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  .list-container {
    @include news-list-container();
  }

  .notification-container {
    @include notification-container();
  }
}
