<article>
  <section class="image-section" [style.backgroundImage]="prepareUrl(news.image)">
  </section>
  <section class="content-section">
    <h2 class="title">{{news.title}}</h2>
    <p class="description">{{news.description}}</p>
    <span class="date">{{news.date}}</span>
    <div class="actions">
      <button mat-raised-button (click)="openNews()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="btn-icon" color="accent">
          visibility
        </mat-icon>
        Read
      </button>
      <button mat-raised-button (click)="markAsRead()" *ngIf="!isFavorite">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="btn-icon" color="accent">
          done
        </mat-icon>
        Mark as read
      </button>
      <button mat-raised-button (click)="changeFavoriteState()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="btn-icon" [ngClass]="{'is-favorite': news.is_favorite}" color="accent">
          favorite
        </mat-icon>
      </button>
    </div>
  </section>
</article>
