@import "../../../ui/styles/colors";
@import "../../../ui/styles/mixins";

:host {
  display: block;
  width: 100%;
  height: auto;

  .content-container {
    display: flex;

    .notification-container-error {
      @include notification-container();
    }

    .rss-container {
      width: 50%;

      .settings-title {
        font-size: 16px;
        opacity: 0.75;
        margin-bottom: 15px;
      }

      .settings-content {
        max-height: 400px;
        height: 400px;
        overflow-y: auto;
        position: relative;

        .loader-container,
        .notification-container {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            color: $primary-theme-color;
          }
        }
      }

      .settings-actions {
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
