<div class="container" *ngIf="!isLoading">
  <div class="categories-group" *ngFor="let group of categoriesGroups">
    <div class="group-row" [ngClass]="{'inverted': group.index % 2 === 0}">
      <div class="first-container">
        <app-category-content *ngIf="group.categories[0]" [category]="group.categories[0]"></app-category-content>
      </div>
      <div class="second-container">
        <div class="second-container-row top-row">
          <app-category-content *ngIf="group.categories[1]" [category]="group.categories[1]"></app-category-content>
        </div>
        <div class="second-container-row middle-row">
          <div class="middle-row-panel left-panel">
            <app-category-content *ngIf="group.categories[2]" [category]="group.categories[2]"></app-category-content>
          </div>
          <div class="middle-row-panel right-panel">
            <app-category-content *ngIf="group.categories[3]" [category]="group.categories[3]"></app-category-content>
          </div>
        </div>
        <div class="second-container-row bottom-row">
          <app-category-content *ngIf="group.categories[4]" [category]="group.categories[4]"></app-category-content>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loader-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="error-container">

</div>
