/* You can add global styles to this file, and also import other style files */

@import "app/ui/styles/colors";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

html,
body {
  padding: 0;
  margin: 0;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparentize(#000, 0.5);
}

/* For the "inset" look only */
html {
  overflow: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-theme-color;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: transparentize($primary-theme-color, 0.5);
}
